*{margin:0;padding:0}
body{
	font-family: Arial !important;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
a{
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 24px;
	padding:10px;
	margin-left:500px;
}
p{
	line-height:150%;
	margin-bottom:2em;
}
.fix{
	overflow:hidden;
}
.container_full{
	width:100%;
	height:80px
}
.container{
	width:100%;
	display:block;
	margin:0 auto;
	background-color:#543131c7;
}
 .logo_left{
	float:left;
	color:#b5bb6163;
}
.logo_left h1{
	font-family:lato;
	font-weight:bold;
	font-size:44px;
    color:#red;
	padding-top:17px;
}



.nivoSlider{
	width:100%;
	height:600px;
	overflow:hidden;
}
.nivoSlider .btn1 {
  position: absolute;
  top: 250px;
  left: 750px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #648da1a6;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.nivoSlider .btn2 {
  position: absolute;
  top: 250px;
  left: 600px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #9d7f7f8f;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
